.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form button {
  background-color: #444;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  transition: background 0.2s ease;
  width:100%;
}

.form button:hover {
  background-color: #666;
}

.section {
  background: #f7f7fa;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.result-box {
  background: #222;
  color: #00ff99;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 14px;
  white-space: pre-wrap;
}