/* NAVBAR MAIN CONTAINER */
.navbar {
  background-color: #222;
  padding: 12px 24px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column; /* stack rows vertically */
  gap: 10px; /* spacing between rows */
}

/* FIRST ROW - LOGO + CENTER BUTTONS */
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.navbar-logo {
  font-size: 22px;
  font-weight: bold;
}

/* DASHBOARD + CRUD CENTER BUTTON GROUP */
.navbar-center {
  display: flex;
  gap: 16px; /* space between dashboard/crud */
}

/* BUTTON STYLING */
.navbar-top button {
  background-color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  color: #444;
  font-size: 15px;
  transition: background 0.2s ease;
  width:100%;
}

.navbar-top button:hover {
  background-color: #ddd;
}

/* SECOND ROW - PRODUCTS + CATEGORIES */
.navbar-bottom {
  display: flex;
  justify-content: center;
  gap: 16px; /* space between the two buttons */
}
.navbar-bottom button {
  background-color: #444;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  transition: background 0.2s ease;
  width:100%;
}

.navbar-bottom button:hover {
  background-color: #666;
}

/* Remove underline from Links */
.navbar a {
  text-decoration: none;
}
